.details_wrapper {
  display: flex;
  min-height: 95vh;
  flex-direction: row;
  justify-content: start;
  padding-left: 8rem;
  gap: 8rem;
  font-weight: 400;
  overflow-x: hidden;

  .backbutton {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    background-size: contain;
    cursor: pointer;
  }

  .banner_section {
    min-height: 95vh;
    display: flex;

    .main_img {
      min-height: 400px;
      max-width: 400px;
      object-fit: cover;
      mask-image: linear-gradient(to top, transparent, black 45%);
    }

    .relativ_headline {
      position: absolute;
      bottom: 10%;
      left: 9.25rem;
      transform: translate(-0%, -50%);
      display: flex;
      flex-direction: column;
      text-align: center;

      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      .date_duration_genre {
        display: flex;
        justify-content: center;
        column-gap: 10px;

        p {
          font-size: 1rem;
        }

        .punkt {
          display: inline-block;
          padding: 3px;
          margin-left: 7px;
          margin-top: 5px;
        }
      }
    }
  }
  .overview_wrapper {
    padding-top: 150px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;

    h2 {
      font-size: 2rem;
    }

    .overview_text {
      min-width: 35rem;
      font-size: 1.2rem;
    }

    .see_more {
      color: #fc2121;
      cursor: pointer;
      font-size: 1.2rem;
      max-width: 5.5rem;
    }
  }

  .details_box {
    display: flex;
    gap: 4rem;
    h3 {
      font-size: 2rem;
      font-weight: 400;
    }
    p {
      font-size: 1.2rem;

      padding-left: 0.5rem;
    }

    .genre_box {
    }
  }

  .buttonbox {
    position: absolute;
    bottom: 5rem;
    left: 41rem;

    .watch_movie_button {
      margin-bottom: 50px;
      padding-inline: 50px;
      padding-block: 16px;
      background: linear-gradient(to right, #ff6b6b, #fc2121);
      border-radius: 10px;
      border: none;
      color: #fff;
      box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 64px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
      min-width: 50%;
      font-size: 15px;
    }
  }
}
