@font-face {
  font-family: headline2;
  src: url('../../../assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

.get_started {
  text-align: center;
  overflow: hidden;
  height: calc(100vh - 3px);
}

.get_started_img {
  position: relative;
  display: inline-block;
}

.get_started_img img {
  position: absolute;
  min-width: 250px;
  min-height: 550px;
}

.img_background {
  min-height: 60vh;
  background: linear-gradient(to bottom right, #fc2121, #ff6b6b);
  overflow: hidden;
}

.get_started_img img:first-child {
  left: -110px;
  top: 54px;
  z-index: 1;
}

.get_started_img img:last-child {
  right: -108px;
  top: 10px;
}

.get_started_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  h1 {
    font-size: 2rem;
  }

  p {
    padding-inline: 1rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 391px) {
  .get_started_text {
    button {
      min-width: 25%;
    }
  }
}
