@import '../../../app.scss';

.aws_btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 200ms;
  --organic-arrow-thickness: 0px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 0px;
  --organic-arrow-color: #fe000000;
  --control-button-width: 5px;
  --control-button-height: 10;
  --control-button-background: transparent;
  --control-bullet-color: #f33d42;
  --control-bullet-active-color: #cf3438;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.home {
  padding-top: 4rem;
  padding-inline: 1rem;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  gap: 5rem;

  h1 {
    font-size: 2.5rem;
  }

  @include tablet {
    padding-inline: 3rem;
    justify-content: space-around;
    gap: 2rem;
  }

  @include mobile {
    padding-inline: 1rem;
    padding-block: 2rem;
    justify-content: start;
    gap: 2rem;
    h1 {
      font-size: 1.5rem;
    }
  }
}

.trending {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding-inline: 0.5rem;
  padding-bottom: 1rem;
  p {
    color: red;
  }

  @include tablet {
  }

  a {
    text-decoration: none;
  }

  span {
    color: #fc2121;
  }
}

.hidden_section {
  display: none;
}

.navbarmobilesection {
  z-index: 2;
}

.hidden_section {
  display: block;
}
.animated_banner_container {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 20px;

  a {
    color: #fff;
  }

  h2 {
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
  }
}

.animated_banner {
  display: flex;
  width: 300%;
  animation: scroll 30s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.image_container {
  width: 50%;
}

.animated_image {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider_wrapper {
  display: none;

  @include tablet {
  }

  .slider_container {
    position: relative;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: #fff;
  }

  div:nth-of-type(2) {
    width: 100%;
    border-radius: 10rem;
    color: #fff;

    .awssld__content {
      background-color: rgba(255, 255, 255, 0);

      overflow-x: hidden;
      div {
        a {
          img {
            object-fit: contain;
            width: 100%;
          }
        }
      }
    }

    .rating_container {
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      padding-inline: 2rem;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include tablet {
        bottom: 2rem;
      }

      @include mobile {
        padding-inline: 2rem;
        bottom: 3rem;
      }

      @include xsMobile {
        padding-inline: 1rem;
      }

      p,
      h2 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        font-size: 2rem;

        @include tablet {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      div {
        display: flex;
        align-items: center;
        max-width: 10rem;
        justify-content: end;
      }

      img {
        max-width: 1rem;
        max-height: 1rem;
        margin-right: 4px;
      }
    }
  }
}

@include tablet {
  .slider_wrapper {
    display: block;
  }

  .animated_banner_container {
    display: none;
  }
}
