.toggle-button-container {
  position: fixed;
  top: 2rem;
  right: 3rem;
  transition:
    right 0.3s,
    background-color 0.3s;
}

.button.r .checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.theme-toggle {
  transform: scale(2.5);
}
