* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color-gradient: background linear-gradient(0.25turn, #010c10, #841e1e, #000000);
  --background-color-black: black;
  --color-title-white: white;
  --color-text-white: white;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  height: 100vh;

  h1,
  h2,
  h3 {
    font-weight: 400;
  }
}

a,
button {
  cursor: pointer;
}

.button_red {
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  color: #fff;

  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 64px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  min-width: 100px;
  font-size: 15px;
  border: none;
}

.light-theme {
  background-color: #eeeeee;

  color: black;
  transition:
    background-color 1s,
    color 0.3s;

  .remove_fav {
    background: linear-gradient(to right, #ff6b6b, #fc2121);
    color: black;
  }

  .button_red {
    background: linear-gradient(to right, #ff6b6b, #fc2121);
  }

  .landingpagesection,
  .login_form,
  .register_page {

    background: linear-gradient(to right, #ff6b6b, #fc2121);
  }

  .searched_movie_frame {
    background: linear-gradient(to right, #ff6b6b, #fc2121);
  }

  .profile_settings {
    background-color: gainsboro;
  }

  .backbutton {
    background: url('/src/assets/img/backButtonBlack.svg') no-repeat;
  }

  .theme-toggle {
    * {
      fill: orange;
      stroke: orange;
    }
  }

  .settings_icon {
    background: url('/src/assets/img/settings.svg');
  }
}

.punkt {
  background: rgb(0, 0, 0);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.dark-theme {
  background: #121212;
  color: white;
  transition:
    background 1s,
    color 0.3s;

  .landingpagesection,
  .login_form {
    background: linear- ↪ gradient(to bottom ↪ right, #fc2121, #ff6b6b) ↪;
  }

  .button_red {
    background: linear-gradient(to right, #232323, #333232);
  }

  .remove_fav {
    background: linear-gradient(to right, #232323, #333232);
    color: white;
  }

  .searched_movie_frame {
    background: linear-gradient(to right, #232323, #333232);
  }

  .profile_settings {
    background-color: #232323;
  }

  .settings_icon {
    background: url('/src/assets/img/settingsWhite.svg');
  }

  .backbutton {
    background: url('/src/assets/img/backButtonWhite.svg') no-repeat;
  }

  .navbarmobilesection {
    background: #232323;
  }

  .date_duration_genre,
  .frame_text_info {
    .punkt {
      background-color: rgb(255, 255, 255);
    }
  }

  .theme-toggle {
    * {
      fill: white;
      stroke: white;
    }
  }
}

.bookmark,
a {
  cursor: pointer;
}

@keyframes toWhite {
  from {
    fill: black;
    stroke: black;
  }

  to {
    stroke: white;
    fill: white;
  }
}

@keyframes toBlack {
  from {
    fill: white;
    stroke: white;
  }

  to {
    stroke: black;
    fill: black;
  }
}

@mixin xsMobile {
  @media (max-width: 527px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}