* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans") format("woff2"),
  url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: 400;
}

:root {
  --background-color-gradient: background linear-gradient(0.25turn, #010c10, #841e1e, #000000);
  --background-color-black: black;
  --color-title-white: white;
  --color-text-white: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 22px;
}

a,
button {
  cursor: pointer;
}

.light-theme {
  background-color: rgba(253, 253, 253, 0.31);
  color: black;
  transition: background-color 1s,
  color 0.3s;

  .profile_settings {
    background-color: gainsboro;
  }
}

.punkt {
  background: rgb(0, 0, 0);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.dark-theme {
  background: linear-gradient(0.40turn, #010c10, #841e1e, #000000);
  color: white;
  transition: background 1s,
  color 0.3s;

  .profile_settings {
    background-color: black;
  }

  .navbarmobilesection {
    background: black;
  }

  .date_duration_genre,
  .frame_text_info {
    .punkt {
      background-color: rgb(255, 255, 255);
    }
  }
}

.bookmark,a {
  cursor: pointer;
}

@mixin xsMobile {
  @media (max-width: 527px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}


@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
